.row{
    padding: 10px;
    margin: 10px;
    background-color:blanchedalmond;
    color:greenyellow;
    border-radius: 20px 0 20px 0;
    border: black solid;
}
.b1{
    background-color: black;
}

.b2{
    background-color: black;
}
p{
    background-color: black;
}